main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
/* 
#main {
  text-align: center;
} */

/* #heading-wrapper{
  padding-bottom: 40px;
} */

#greeting {
  font-size: 60px;
  font-family: 'Reem Kufi', sans-serif;  padding:0px;
  margin:0;
}


.regular {
  color: black; /* Set the color for "Hi, I'm" to black */
  font-weight: lighter;
}

.bold-purple {
  font-weight: bold;
 /* Set the font weight for "Shahd Khartabil" to bold */
  color: #8155FF; /* Set the color for "Shahd Khartabil" to purple */
}

#title {
  font-size: 30px;
  font-family: 'Reem Kufi', sans-serif;  
  padding: 0px;
  margin:0;
  font-style: italic;
  color:rgb(71, 70, 73); 


}

.navigation {
  margin-top: 75px;
  font-size: 20px;
  font-family: 'Reem Kufi', sans-serif;}

.navigation ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.navigation ul li {
  margin: 0 25px;
}

.navigation ul li a {
  text-decoration: none;
  transition: all 0.3s ease; /* Add transition property with desired duration and timing function for both states */

}
.navigation ul li a:hover {
  font-weight: bold;
  text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease; /* Add transition property with desired duration (0.3s) and ease timing function */

}
#button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: #8155FF;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #5c3cb5;
  transition: all 0.3s ease;
}